@import 'tailwindcss';
@import "../../styles/syntax-highlighting.css";

:root {
  --background: #FFFFFF;
  --foreground: hsl(220, 23%, 5%);
  /* --foreground: hsl(210, 23%, 5%); */
  /* --foreground-text: hsla(210, 23%, 5%, 0.816); */
  --foreground-text: #383a3c;
  --extra: #ff0000;
  --clr-grey: --color-gray-950;
  --primary: #4242f9;
  --secondary: #1949cd;
  --selection: #FFEC8F;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-size: 20px;
}

p {
  color: var(--foreground-text);
  font-weight: 400;
  margin-bottom: 1rem;
  margin-top: 0.4rem;
}

h1, h2, h3, h4 {
  color: var(--foreground)
}

h1 {
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 1.3em;
  margin-top: 0.8em;
  margin-bottom: 0.4em;
}
h2 {
  font-size: 2.2224rem;
  font-weight: 600;
  line-height: 1.3em;
  margin-top: 0.2em;
  margin-bottom: 0.6em;
}
h3 {
  font-size: 1.7639rem;
  font-weight: 500;
  line-height: 1.3em;
  margin-top: 0.8em;
  margin-bottom: 0.4em;
}

small {
  font-size: 0.8rem;
}

::selection {
  background-color: var(--selection);
}

@media (prefers-color-scheme: dark) {
  :root {

  }
}