@import 'tailwindcss';
@import "../../styles/syntax-highlighting.css";

:root {
  --background: #FFFFFF;
  --foreground: #383838;



  --extra: #ff0000;
  --clr-grey: --color-gray-950;
  --primary: #802dd9;
  --secondary: #1949cd;
  --selection: #ffff75b8;
}

body {
  background: var(--background);
  color: var(--foreground);
}

::selection {
  background-color: #AACCF2;
}

  /* dark:bg-zinc-950 bg-[#FCFCFC] text-gray-900 dark:text-zinc-200 */

@media (prefers-color-scheme: dark) {
  :root {

  }
}